<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 
        <link rel="stylesheet" href="/modules/flatpickr/dist/flatpickr.min.css">
        <link rel="stylesheet" href="/modules/flatpickr/dist/themes/material_red.css">
        <link rel="stylesheet" href="/modules/choices.js/public/assets/styles/choices.min.css">
    </head>
    
    <body class="sb-nav-fixed">

                    <!-- ========   TOP NAVIGATION    ========-->
                    
        <%- include('./partials/top-navigation.ejs') %> 

        <div id="layoutSidenav">

                    <!-- ========   RIGHT MENU    ========-->
            <%- include('./partials/left-menu.ejs') %>
            
            <div id="layoutSidenav_content">

                <main>
                    
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Prestamos</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/users/dashboard">Tablero de Control</a></li>
                            <li class="breadcrumb-item active"><a href="/loans">Prestamos</a></li>
                            <li class="breadcrumb-item active">Crear Nuevo Prestamo</li>
                        </ol>
                        

                        <div class="row">
                            
                        </div>

                        <div class="card mb-5">
                            <div class="card-header d-flex justify-content-between">
                                <div class="">
                                    <h5><i class="fas fa-table me-1"></i>Crear Nuevo Prestamo</h5>
                                </div>
                                <div>
                                      
                                </div>
                            </div>
                            <div class="card-body" >
                                <form class="row g-3 p-3 pt-0" id="formIdRegisterLoan">
                                    <div class="col-md-10">
                                        <label for="selectIdCustomers" class="form-label">Selccionar un Cliente</label>
                                        <select id="selectIdCustomers" name="customerId" class="form-select">
                                            <option value="">Seleccionar...</option>
                                            <% if (customers) { %>
                                                <% customers.forEach(customer => { %>
                                                    <option value="<%= customer.id %>"> <%= customer.names + ' ' + customer.lastNames%>  </option>
                                                <% }) %>
                                            <% } %>
                                            
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputCreditAmount" class="form-label">Monto del Prestamo</label>
                                        <input type="number" class="form-control" name="creditAmount" id="inputCreditAmount" placeholder="Monto del prestamo" value="1000" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputInterestRate" class="form-label">Interés %</label>
                                        <input type="number"  class="form-control" name="interestRate" id="inputInterestRate" placeholder="Interest del prestamo" value="15" required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputNumberFees" class="form-label">Cantidad de Cuotas a Pagar</label>
                                        <input type="text" class="form-control" name="numberFees" id="inputNumberFees" placeholder="Selecciona días en calendario" onkeydown="return false;" data-readonly required>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputModality" class="form-label">Modalidad de Pago</label>
                                        <select id="inputModality" name="modality" class="form-select" required>
                                            <option value="">Seleccionar...</option>
                                            <option value="Diario"selected>Diario</option>
                                            <option value="Semanal">Semanal</option>
                                            <option value="Mensual">Mensual</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="inputLoanDate" class="form-label">Fecha de Emisión</label>
                                        <input type="date" class="form-control" name="loanDate" id="inputLoanDate" placeholder="" required>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row justify-content-md-center align-self-md-center" >
                                            <label for="inputFeesDates" class="form-label text-center">Selecciona Fechas de Cuotas de Pago</label>
                                            <input type="date" class="form-control"  name="feesDates" id="inputFeesDates" placeholder="Seleccione las fechas..." hidden required>
                                        </div>
                                    </div>

                                    <div class="card p-4">
                                        <div class="row justify-content-md-center" >
                                            <div class="col-md-12 mb-3 "> 
                                                <button type="button" id="btnIdCalculate" class="btn btn-success">Calcular</button>
                                            </div>
                                            
                                            <div class="col-md-4">
                                                <label for="inputFeeAmount" class="form-label">Cuota a Pagar + Interés</label>
                                                <input type="text" class="form-control" name="feeAmount" id="inputFeeAmount" placeholder="Cuota + Interés" onkeydown="return false;" data-readonly required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputInterestAmount" class="form-label">Total del Interés % a Pagar</label>
                                                <input type="text" class="form-control" name="interestAmount" id="inputInterestAmount" placeholder="Total del % a pagar" onkeydown="return false;" data-readonly required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="inputTotalAmount" class="form-label">Monto Total a Pagar</label>
                                                <input type="text" class="form-control" name="totalAmount" id="inputTotalAmount" placeholder="Total a Pagar" onkeydown="return false;" data-readonly required>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div id="cardAlerts" class="m-0 mt-2"></div>
                                    
                                    <div class="col-12 d-flex justify-content-center align-items-center gap-2 btn-group">
                                        <a class="" href="/loans"> <button type="button" class="btn btn-secondary ">Cancelar</button> </a>
                                        <button type="submit" class="btn btn-primary" id="btnIdRegisterLoan">Registrar Prestamo</button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>
                    
                </main>
                
                <!-- ========   FOOTER  ======== -->
                <%- include('./partials/footer.ejs'); -%>

                


            </div>
        </div>

        <%- include('./partials/footer-scripts.ejs') %> 
        
    </body>
</html>
