<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %> 
    </head>
    
    <body class="sb-nav-fixed">

                    <!-- ========   TOP NAVIGATION    ========-->
                    
        <%- include('./partials/top-navigation.ejs') %> 

        <div id="layoutSidenav">

                    <!-- ========   RIGHT MENU    ========-->
            <%- include('./partials/left-menu.ejs') %>
            
            <div id="layoutSidenav_content">

                <main>
                    
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Clientes</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/users/dashboard">Panel de Control</a></li>
                            <li class="breadcrumb-item active">Clientes</li>
                        </ol>
                        

                        <div class="row">
                            
                        </div>

                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between">
                                <div class="">
                                    
                                    <h5><i class="fas fa-table me-1"></i> Tabla de Clientes</h5>
                                </div>
                                <div>
                                    <button type="button" id="UserModalBtnId" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#userSignUpModal">
                                        <i class="fas fa-plus-circle"></i>
                                        Nuevo Cliente
                                    </button>
                                </div>
                            </div>
                            <div class="card-body" >
                                <table id="tableIdCustomers">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                            <th>C.I.</th>
                                            <th>Celular</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyIdCustomers">
                                        <% if (customers) { %>
                                            <% customers.forEach(customer => { %>
                                                </tr>
                                                    <td><%= customer.names %></td>
                                                    <td><%= customer.lastNames %></td>
                                                    <td><%= customer.ci %></td>
                                                    <td><%= customer.cellPhone %></td>
                                                    <td><%= customer.withCredit? 'Con Credito' : 'Sin Credito' %></td>
                                                    <td>
                                                        <button id="<%= customer.id %>" customerid="showCustomer_<%= customer.id %>" type="button" class="btn btn-info btn-sm " data-bs-toggle="modal" data-bs-target="#customerCardInfo">Ver</button>
                                                        <button id="<%= customer.id %>" customerid="updateCustomer_<%= customer.id %>" type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#CustomerUpdateModal">Editar</button>
                                                        <button id="<%= customer.id %>" customerid="deleteCustomer_<%= customer.id %>" type="button" class="btn btn-danger btn-sm">Eliminar</button>
        
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    
                </main>
                
                <!-- ========   FOOTER  ======== -->
                <%- include('./partials/footer.ejs'); -%>
                <!-- ========   DataTable  ======== --> 
                <!-- <script src="/js/datatable/datatable.js"></script> -->
                
            </div>
        </div>

        <!-- ========   Modal to show a customer info   ======== -->
        <div class="modal fade" id="customerCardInfo"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="staticBackdropLabel">Perfil del Cliente</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body p-0">
                        <div class="card mb-0" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4 px-3 pt-2 d-flex align-items-center flex-column align-self-center">
                                    <img src="/img/users/user.png" class="img-fluid rounded-start" alt="...">
                                    <h6 class="m-0" id="txtIdRole"> Prestatario </h6>
                                    <p class="m-0 text-center lh-sm" id="txtIdCustomerFullname">No name</p>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <dl class="row m-0 p-0" >
                                            <dt class="col-sm-4 p-0">C.I.</dt>      <dd class="col-sm-8 p-0 m-0" id="txtIdCustomerCi"></dd>
                                            <dt class="col-sm-4 p-0">Género</dt>    <dd class="col-sm-8 p-0 m-0" id="txtIdCustomerGnerder"></dd>
                                            <dt class="col-sm-4 p-0">Celular</dt>   <dd class="col-sm-8 p-0 m-0" id="txtIdCustomerCellPhone"></dd>
                                            <dt class="col-sm-4 p-0">Estado</dt>    <dd class="col-sm-8 p-0 m-0" id="txtIdCustomerWithCredit"></dd>
                                            <dt class="col-sm-4 p-0">Dirección</dt> <dd class="col-sm-8 p-0 m-0" id="txtIdCustomerAddress"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer bg-dark">

                    </div>
                </div>
            </div>
        </div>

        <%- include('./partials/footer-scripts.ejs') %> 
        
    </body>
</html>
